body {
  background-color: skyblue;
  background-image: url('./zulfugar-karimov--LfRVQ_xxTw-unsplash.jpg');
  background-image: url('https://images.pexels.com/photos/30207942/pexels-photo-30207942.jpeg');
  background-size: cover;
  background-size: contain;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top;
  background-position: left;
  background-position: right;
  background-position: center;
  background-position: top right;
}

p,
div {
  color: #010736;
  background-color: rgb(24, 100, 10);
}

.class {
  background-color: black;
  color: white;
}

.class-2 {
  background-image: url('zulfugar-karimov--LfRVQ_xxTw-unsplash.jpg');
  background-size: contain;
}

#div {
  color: aqua;
}
