* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  color: white;
  padding: 16px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* 
li::before {
  content: 'some content'; */
/* content: url('https://images.pexels.com/photos/30173136/pexels-photo-30173136.jpeg'); */
/* background-color: red;
  display: block;
  height: 40px;
  width: 100px;
} */

a::after {
  content: '';
  display: block;
  background-color: white;
  width: 0;
  height: 3px;
  border-radius: 4px;
  margin-top: 8px;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

li {
  position: relative;
}

.dropdown {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 80px;

  position: absolute;
  top: 30px;
  left: -10px;

  /* display: none; */
  opacity: 0;

  transition: 0.5s;
}

li:hover .dropdown {
  opacity: 1;
}
