div {
  height: 50px;
  width: 50px;
  background-color: red;
  position: relative;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: 2;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: backwards;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-direction: alternate;
  animation: move 10s 1s infinite forwards linear;
}

@keyframes move {
  0% {
    background-color: red;
    left: 0;
  }
  25% {
    background-color: green;
    transform: rotate(90deg);
  }
  50% {
    background-color: blue;
    border-radius: 100%;
  }
  75% {
    background-color: yellow;
    transform: rotateX(45deg);
  }
  100% {
    background-color: black;
    left: calc(100% - 50px);
    border-radius: 0;
  }

  /* from {

    }
    to {

    } */
}
