div {
  border: 1px solid;
  background-color: red;
  height: 100px;
  width: 100px;
  margin: 100px auto;
  transition: 1s;
}

.box1:hover {
  /* transform: rotate(), translate(), scale(), skew(); */
  transform: translateX(50px);
}

.box2:hover {
  transform: translateY(50px);
}

.box3:hover {
  transform: translate(50px);
  transform: translate(50px, -50px);
}

.box4:hover {
  transform: perspective(200px) translate3d(50px, 50px, 50px);
}

.box5:hover {
  transform: rotateX(30deg);
}

.box6:hover {
  transform: rotateY(45deg);
}

.box7:hover {
  transform: rotate(60deg);
}

.box8:hover {
  transform: rotate3d(1, 2, 3, 80deg);
}

.box9:hover {
  transform: scaleX(1.5);
}

.box10:hover {
  transform: scaleY(1.5);
}

.box11:hover {
  transform: scale(1.5, 0.6);
}

.box12:hover {
  transform: perspective(100px) scale3d(1.2, 0.6, 2);
}
